#bedding_title {
	margin: 2em 2em 2em 2em;
    font-family: 'Abril Fatface', cursive;
	font-size: 42px;
	font-weight: bold;
}

#bedding_title {
  background: -webkit-linear-gradient(#f442d1, #3d0b33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bedding img {
	height: 280px;
	width: 260px;
}

.side_bar {
	text-align: center;
}

.bedding_sidebar {
	padding-top: 50px;
	margin-top: 3em;
	margin-left: 2em;
	padding-bottom: 30px;
}

.bedding_sidebar a {
	color: Black;
	font-weight: bold;
	font-size: 20px;
	margin-top: 1em;
	padding-left: 20px;
	margin-right: 10px;
}

.side_bar_small {
	padding-top: 30px;
	margin-top: 3em;
	margin-left: 2em;
}

.side_bar_small a {
	color: Black;
	font-weight: bold;
	font-size: 12px;
	margin-top: 1em;
	padding-left: 20px;
	margin-right: 10px;
	
}

.bedding {
	text-align: center;
	margin-right: 2em;
	margin-left: 1em;
}


.bedding p{
	margin-top: 1em;
	margin-bottom: 2.5em;
	opacity: 0;
	-webkit-transition-duration: 0.5s;
	transition-duration:0.5s;
}

.bedding p:hover {
	opacity: 1;
	-webkit-transition-duration: 0.5s;
	transition-duration:0.5s;
}




 
