
.companytitle {
	margin: 2em 0 2em 1em;
	font-family: 'Abril Fatface', cursive;
	font-size: 42px;
	font-weight: bold;
	background: -webkit-linear-gradient(#f442d1, #3d0b33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav{
	text-align: center;
}
	
.searchicon {
   height: 30px;
	width: auto;
	border-radius:25%;
	}
	


.highlight {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
}



.nav a{
	font-family: 'Tangerine', cursive;
	color: #f88379;
	font-size: 23px;
}



.btn {
	margin: 24em 0 0 3em;
}

.card-text {
	text-align: center;
	margin-top: 1.2em;
	font-family: 'Tangerine', cursive;
	font-size: 25px;
}



.links img {
	width: 20px;
	height: auto;
	margin-top: 1em;
}

#copyright {
	text-align: center;
	margin-top: 2.5em;
}


#gallery {
	display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  padding-top: 10px;
  text-align: center;
  
}

img {
  margin: 5px;
  height: 280px;
  width: 300px;
}

@media all and (max-width:960px) {
  #gallery {
    width: 900px;
   }    
   
   .companytitle {
   	font-size: 34px;
   }
       
}


@media all and (max-width:720px) {
   #gallery {
     width: 660px;
   }
   
    .companytitle {
   	font-size: 26px;
   }
   
}


@media all and (max-width:480px) {
  #gallery {
    width: 420px;
  }
  
    .companytitle {
   	font-size: 18px;
   }
}


.grayscale {
  filter: gray; 
  -webkit-filter: grayscale(100%); 
}

 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  
	-webkit-animation:fadeIn ease-in 1;  
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

