#display_one {
	margin-left: 150px;
}

#display_one img {
	height: 600px;
	width: auto;
}

#detail_description {
  padding-left: 40px;
  padding-top: 100px;
}

#detail_description h1{
	font-size: 90px;
	font-family: 'Cinzel', serif;
}

#detail_description p{
	font-size: 22px;
	padding-left: 60px;
	font-family: 'Old Standard TT', serif;
}

#detail_description span {
	font-family: 'Old Standard TT', serif;;
	padding-left: 70px;
}



#display_two img {
	margin-left: 300px;
	height: 500px;
	width: auto;
}

#display_two_text{
	font-size: 22px;
	text-align: center;
    margin-top: 120px;
	font-family: 'Cinzel', serif;
}



#banner_description {
	height: 40px;
	background-color: black;
	margin-bottom: 10px;
}




 
